{% extends "misc.html" %}

{% block header %}
<nav class="navigation-bar dark" >
    <nav class="navigation-bar-content ">
        <button class="element logo" style="font-size: 24px;">
            AboutTravel
        </button>

        <span class="element-divider "></span>
        <button class="element">
            Страны
        </button>
        <button class="element">
            Фото
        </button>
        <button class="element">
            Статьи
        </button>
        <button class="element">
            Советы
        </button>
        <button class="element">
            Друзья
        </button>
        <button class="element">
            Новости
        </button>
        <span class="element-divider "></span>

        <div class="element input-element">
            <form>
                <div class="input-control text span5">
                    <input type="text" placeholder="Поиск...">
                    <button class="btn-search"></button>
                </div>
            </form>
        </div>
        <span class="element-divider "></span>

        <button class="element place-right" style="font-size: 22px;">

            Войти

        </button>

    </nav>
</nav>
{% endblock %}