{% extends "base.html" %}

{% block title %}Туристический портал{% endblock %}

{% block content %}
    <h2>Hello, world</h2>
    <div class="accordion" data-role="accordion">
		<div class="accordion-frame">
			    <div class="map_container" >
					<div>
						<iframe width="1000" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?hl=ru&amp;ie=UTF8&amp;t=h&amp;ll=53.540307,94.921875&amp;spn=18.342444,105.46875&amp;z=4&amp;output=embed"></iframe>
							<br />
							<small><a href="https://maps.google.ru/maps?hl=ru&amp;ie=UTF8&amp;t=h&amp;ll=53.540307,94.921875&amp;spn=18.342444,105.46875&amp;z=4&amp;source=embed" style="color:#0000FF;text-align:left">Просмотреть увеличенную карту</a></small>
					</div>
				</div>
		</div>

	</div>
{% endblock %}