<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>

		<meta charset="utf-8">
		<title>Туристический портал</title>

		<link rel="stylesheet" href="/static/css/metro-bootstrap.css">
		<link rel="stylesheet" href="/static/css/main.css">

		<script type="text/javascript" src="/static/scripts/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="/static/scripts/jquery-ui.js"></script>
		<script type="text/javascript" src="/static/scripts/metro.min.js"></script>

	</head>

	<body>
		<div class="main_content">
			<div class="metro">
				<nav class="navigation-bar dark" >
					<nav class="navigation-bar-content ">
						<button class="element logo" style="font-size: 24px;" >
							AboutTravel
						</button>

						<span class="element-divider "></span>
						<button class="element" >
							Страны
						</button>
						<button class="element" >
							Отзывы
						</button>
						<button class="element" >
							Фото
						</button>
						<button class="element" >
							Статьи
						</button>
						<button class="element" >
							Советы
						</button>
						<button class="element" >
							Друзья
						</button>
						<button class="element" >
							Новости
						</button>
						<span class="element-divider "></span>

						<div class="element input-element">
							<form>
								<div class="input-control text span5">
									<input type="text" placeholder="Поиск...">
									<button class="btn-search"></button>
								</div>
							</form>
						</div>
						<span class="element-divider "></span>

						<button class="element place-right" style="font-size: 22px;">

							Войти

						</button>

					</nav>
				</nav>
				<div class="accordion" data-role="accordion">
					<div class="accordion-frame">
						<a href="#" class="heading">Карта</a>
						<div class="content" >
							<div>
								<iframe width="1180" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?hl=ru&amp;ie=UTF8&amp;t=h&amp;ll=53.540307,94.921875&amp;spn=18.342444,105.46875&amp;z=4&amp;output=embed"></iframe>
								<br />
								<small><a href="https://maps.google.ru/maps?hl=ru&amp;ie=UTF8&amp;t=h&amp;ll=53.540307,94.921875&amp;spn=18.342444,105.46875&amp;z=4&amp;source=embed" style="color:#0000FF;text-align:left">Просмотреть увеличенную карту</a></small>
							</div>
						</div>
					</div>

				</div>
				<div class="zoi_content"></div>
				<div class="bg-dark footer"></div>
			</div>
		</div>

	</body>
</html>